.ulcl {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  background:#2d2d2d; 
  height: 60px; 
}

.home{
  float: left;
  padding-left: 80px;
  padding-right: 50px;
}

.acl {
  text-decoration: none; 
  background:#2d2d2d; 
  color:#ffc800; 
  padding:0px 50px; 
  font-size: 32px;
  font-family: Bookman Old Style; 
  line-height:60px; 
  display: block; 
  border-right: 1px solid #ffc800;
  transition: all 0.3s ease; 
}

.acl:hover {
  background:#ffc800;
  color: #fff;
}

.licl {
  float:left; 
  position:relative; 
}
     
.licl > .ulcl {
        position:relative;
        display:none;
}
     
.licl:hover > .ulcl {
        display:block; 
        width: 100%;       
}
.licl:hover > .ulcl > .licl {
        float:none; 
}

.signin{
  float: right;
  font-size: 24px;
  font-family: Bookman Old Style;
  text-align: center;
  margin-top: 4px;
  margin-right: 30px;
  text-decoration: none;
  color:#ffc800;
  padding:8px 24px;
  border:4px solid #ffc800;
  position: relative;
  transition:.3s ease;
}

.signin:hover{
  background: #ffc800;
  color: #fff;
}

.signin:active{
  background: rgba(255, 200, 0, 0.5);
}

.signup{
  float: right;
  font-size: 24px;
  font-family: Bookman Old Style;
  text-align: center;
  margin-top: 4px;
  margin-right: 30px;
  text-decoration: none;
  color:#fff;
  padding:8px 24px;
  border:4px solid #fff;
  position: relative;
  transition:.3s ease;
}

.signup:hover{
  background: #fff;
  color: #ffc800;
}

.signup:active{
  background: rgba(255, 255, 255, 0.5);
}

.footer{
  background-color: #2d2d2d;
}

.footertext{
  font-family: Bookman Old Style;
  color: #ffc800;
  font-size: 24px;
}

#first{
  background: url(../images/fongray.jpg);
}

.title{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 36px;
  text-align: center;
  position: relative;
}

.section{
  position: absolute;
}

.firstphoto{
  margin-left: 40px;
  border: 7px solid #f4cd41;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

.firsttext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 360px;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.textlink{
  font-size: 24px;
  font-family: Bookman Old Style;
  color: #2d2d2d;
  transition:.3s ease;
}

.textlink:hover{
  color: #fff;
}

.link{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 40px;
  transition: .3s ease;
}

.link:hover{
  color: #fff;
}

#second{
  background: url(../images/fonyellow.jpg);
}

.earlylife{
  width: 100%;
  margin-top: -18px;
}

.secondtext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 40px;
  margin-right: 440px;
}

.secondphoto{
  margin-left:1480px;
  margin-top: -330px;
  border: 7px solid #2d2d2d;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

.thirdtext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 40px;
  margin-right: 40px;
}

#third{
  background: url(../images/fongray.jpg);
}

.politicallife{
  width: 100%;
  margin-top: -18px;
}

.thirdphoto{
  margin-left: 40px;
  margin-top: 40px;
  border: 7px solid #f4cd41;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

.fourthtext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 440px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.fifthtext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.sixthtext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 40px;
  margin-right: 440px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.fourthphoto{
  margin-left:1480px;
  margin-top: -300px;
  border: 7px solid #f4cd41;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

#fourth{
  background: url(../images/fonyellow.jpg);
}

.laterlife{
  width: 100%;
  margin-top: -18px;
}

.seventhtext{
  color: #2d2d2d;
  font-family: Bookman Old Style;
  font-size: 24px;
  margin-left: 440px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.fifthphoto{
  margin-left: 40px;
  border: 7px solid #2d2d2d;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
}

abbr{
  text-decoration: none;
  font-weight: bold;
}

blink{
  animation: blink 2s infinite;
}

@keyframes blink{
  from{
    opacity: 1;
  }
  to{
    opacity: 0.5;
  }
}